<form class='form' action="">
  <div class="input-container">
    <input type="name" class="name_input input" placeholder="Project Name">
    <input type="name" class="fullname_input input" placeholder="Full Name">
    <input type="contract" class="contract_input input" placeholder="Contract">
    <input type="contractnum" class="contract_number_input input" placeholder="Contract Number">
    <input type="status" class="status_input input" placeholder="Status">
    <input type="file" class="ng-hide" id="input-file-id" multiple placeholder="File Input">

  </div>
  <div class="button-div">
    <button mat-button routerLink="/dashboard" routerLinkActive="mat-accent" class="submit_btn">Submit</button>
  </div>
</form>
